<div #hScroll class="container flex">
  <div class="panel will-change-transform bg-red-200 min-w-full h-screen flex items-center justify-center text-white text-5xl ">
    ONE
  </div>
  <div class="panel will-change-transform bg-blue-200 min-w-full h-screen flex items-center justify-center text-white text-5xl ">
    TWO
  </div>
  <div class="panel will-change-transform bg-green-200 min-w-full h-screen flex items-center justify-center text-white text-5xl ">
    THREE
  </div>
  <div class="panel will-change-transform bg-yellow-200 min-w-full h-screen flex items-center justify-center text-white text-5xl ">
    FOUR
  </div>
  <div class="panel will-change-transform bg-pink-200 min-w-full h-screen flex items-center justify-center text-white text-5xl ">
    FIVE
  </div>
</div>