<div #rendererContainer></div>

















<!-- <div class="relative"> -->
    <!-- <div #bgClass class="bg_class relative w-full h-screen flex items-center justify-center">
        <div class="bg-img_1 absolute top-0 left-0 w-full h-full -z-10 bg-cover bg-center bg-no-repeat"></div>
        <h1>Content 1</h1>
    </div>
    <div #bgClass class="bg_class relative w-full h-screen flex items-center justify-center">
        <div class="bg-img_2 absolute top-0 left-0 w-full h-full -z-10 bg-cover bg-center bg-no-repeat"></div>
        <h1>Content 2</h1>
      </div> -->
      
      <!-- Overlay that Appears as a Third Page -->
      <!-- <div #overlay class="absolute top-full left-0 w-full h-screen flex justify-center items-center bg-black bg-opacity-50 z-20 pointer-events-none transition-transform duration-500">
          <h1 class="text-white">Glass Overlay Effect</h1>
      </div> -->
<!-- </div> -->


<!-- <app-parallax-bg></app-parallax-bg>
<div #container class="container overflow-x-hidden">
    <app-hscroll></app-hscroll>
</div> -->

<!-- <div #ball class="sticky top-0 bg-opacity-60 ball hover:cursor-pointer w-[100px] h-[100px] bg-black rounded-full will-change-transform z-[1000]"></div>
<div class="relative mt-[-100px]">
    <app-parallax-bg></app-parallax-bg>
    <div #container class="container overflow-x-hidden">
        <app-hscroll></app-hscroll>
    </div>
</div>  -->